// Define variables for your color scheme

// For example:
$red: #e63946;
$yellow: #FFC65A;
$green: #1EDD88;
$orange: orange;


$white: #ffffff;
$black: #000000;
$light-gray: #e5e5e5;
$secondary: #a8dadc;
$text: #1d3557;
$light-text: #457b9d;
$gray: #e5e5e5;