// Specific CSS for your home-page
.home-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search-container {
  display: flex;
  width: 90%;
  text-align: center;
  justify-content: center;
}

label,
input,
select {
  font-size: 3rem;
}

label {
  margin-right: 1rem;
}

input {
  border: none;
}

select {
  border: none;
}
