<div class="home-container">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="instrument">I am a </label>
        <select name="instrument" id="instrument">
          <option>guitarist</option>
          <option>pianist</option>
          <option>bassist</option>
          <option>drummer</option>
          <option>ukuleleist</option>
        </select>
      </div>
      <div class="form-group">
        <label for="query">I want to learn</label>
        <input name="query" id="query" placeholder="Fly me to the moon"/>
      </div>
    </form>
  </div>
</div>
