<div class="home-container">
  <div class="search-container">
    <form class="form-inline">
      <div class="form-group">
        <label for="instrument">I play the </label>
        <select name="instrument" id="instrument">
          <option>guitar</option>
          <option>piano</option>
          <option>bass</option>
          <option>drums</option>
          <option>ukulele</option>
        </select>
      </div>
      <div class="form-group">
        <label for="query">I want to learn</label>
        <input name="query" id="query" placeholder="Fly me to the moon"/>
      </div>
    </form>
  </div>
  <%= render "results" %>
</div>
